.wrapper {
    width: 90%;
    margin: 50px auto;
}

.sortByBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    .title {
        color: var(--gray);
        font-weight: 600;
        padding: 0 5px 0 10px;
    }
    select {
        cursor: pointer;
        border: none;
        outline: none;
        color: var(--text-color);
        font-size: 1.6rem;
        font-weight: 700;
        padding-right: 5px;
    }
}

.jobTab {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
}
