.wrapper {
    position: relative;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        height: 70px;
    }
}

.trustedText {
    color: var(--light-gray);
    display: block;
    font-weight: 600;
    padding-right: 20px;
}

.trustedList {
    display: flex;
    align-items: center;
    justify-content: center;
    li {
        margin: 10px 20px;
    }
}
