.wrapper {
    padding: 20px 20px 5px 20px;
    min-width: 200px;
    max-height: min(100vh - 96px) -60px, 734px;
    min-height: 100px;
    border-radius: 4px;
    border: 1px solid #e4e5e7;
    background-color: var(--white);
    box-shadow: rgb(0 0 0 /12%) 0 2px 12px;
    text-align: left;
}
