@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
    --primary: rgb(29, 191, 115);
    --primary-hover: rgb(25, 164, 99);
    --black: #000;
    --white: #fff;
    --gray: #74767e;
    --light-gray: #b5b6ba;
    --background-gray: #efeff0;
    --text-color: #333;
    --border-color: rgb(0 0 0 / 12%);
    --input-border-radius: 0.375rem;
    --header-top-height: 90px;
}

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
    user-select: none;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    text-decoration: none;
}

h2 {
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 1.6rem;
}

.slick-prev:before,
.slick-next:before {
    color: var(--light-gray);
    font-size: 30px;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
    z-index: 1000;
}
