@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
    --primary: rgb(29, 191, 115);
    --primary-hover: rgb(25, 164, 99);
    --white: #fff;
    --red: red;
    --red-hover: #c82333;
    --gray: #74767e;
    --light-gray: #b5b6ba;
    --background-gray: #efeff0;
    --text-color: #333;
    --border-color: rgb(0 0 0 / 12%);
    --input-border-radius: 0.375rem;
    --header-top-height: 90px;
}

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    color: var(--text-color);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    user-select: none;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

input,
textarea {
    caret-color: var(--primary);
}

a[href] {
    text-decoration: none;
}

h2 {
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 1.6rem;
}

h3 {
    font-weight: 600;
    font-size: 2.4rem;
    margin-bottom: 1.6rem;
}

li {
    list-style: none;
}

.slick-prev:before,
.slick-next:before {
    color: var(--light-gray);
    font-size: 30px;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
    z-index: 10001;
}

.ant-message {
    z-index: 20000;
}

.ant-collapse-header {
    font-weight: 600;
}

.ant-table-thead {
    .ant-table-cell {
        font-size: 1.6rem;
    }
}
