.wrapper {
    width: 100%;
    height: var(--header-top-height);
    box-shadow: 0 1px 1px var(--border-color);
    display: flex;
    justify-content: center;
}

.inner {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    width: 420px;
    height: 46px;
    padding-left: 16px;
    display: flex;
    border: 1px solid var(--border-color);
    border-radius: var(--input-border-radius);
    input {
        flex: 1;
        color: var(--black);
        font-size: 1.6rem;
        border-top-left-radius: var(--input-border-radius);
        border-bottom-left-radius: var(--input-border-radius);
    }
    &:focus-within {
        border-color: var(--primary);
    }
}

.searchBtn {
    width: 52px;
    border-top-right-radius: var(--input-border-radius);
    border-bottom-right-radius: var(--input-border-radius);
    background-color: var(--primary);
    color: var(--white);
    font-size: 2rem;
    transition: all 0.3s;
    &:hover {
        cursor: pointer;
        background-color: var(--primary-hover);
    }
}

.actions {
    display: flex;
    align-items: center;
    .active {
        color: #1e1692;
    }
}

.userAvatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 20px;
    cursor: pointer;
}

.userAction {
    display: block;
    color: var(--gray);
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 10px;
    transition: all 0.3s;
    &:hover {
        color: var(--primary);
    }
}
