.wrapper {
    margin-bottom: 1.5rem;
}

.tenNhom {
    margin-bottom: 0;
    font-weight: 500;
}

.chiTietLoai > a {
    display: block;
    margin: 8px 0;
    color: var(--gray);
    font-weight: 400;
    transition: all 0.3s;
    &:hover {
        color: var(--primary);
    }
}
