.wrapper {
    width: 900px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.left {
    padding: 30px;
}

.right {
    img {
        width: 100%;
        padding: 30px;
    }
}

.registerText {
    color: var(--primary);
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

.btn {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 20px 0;
    .isMember {
        color: var(--gray);
        font-weight: 400;
        padding-right: 5px;
    }
}

.formInputGender {
    .errorMessage {
        margin-top: 5px;
        margin-left: 45px;
        color: var(--red);
        font-size: 1.2rem;
    }
}

.gender {
    display: flex;
    align-items: center;
    .radioLabel {
        font-size: 1.8rem;
    }
    .labelIcon {
        font-size: 2.4rem;
    }
    .genderRadio {
        flex: 1;
        display: flex;
        justify-content: space-evenly;
    }
}

.gender .genderRadio input[type='radio'] {
    opacity: 0;
    position: absolute;
}

.gender .genderRadio input[type='radio'] + .radioLabel:before {
    position: relative;
    content: '';
    cursor: pointer;
    background: var(--white);
    border: 1px solid var(--light-gray);
    border-radius: 100%;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    top: 3.5px;
    transition: all 0.3s ease;
}

.gender .genderRadio input[type='radio']:checked + .radioLabel:before {
    background-color: var(--primary);
    box-shadow: inset 0 0 0 4px var(--white);
}
