.wrapper {
    background-color: #f0fdf6;
    padding-bottom: 70px;
    padding-top: 50px;
}

.inner {
    width: 90%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.left {
    .checkIcon {
        margin-right: 10px;
        color: var(--gray);
        font-size: 2.4rem;
    }
    h2 {
        font-weight: 700;
    }
    h5 {
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: 0.9rem;
    }
    p {
        margin-bottom: 1.4rem;
        font-size: 1.4rem;
    }
}

.right {
    display: flex;
    justify-content: end;
    grid-column: span 2 / span 2;
}

.videoBtn {
    position: relative;
}

.videoBtn::after {
    content: '';
    position: absolute;
    background: url(https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/desktop-play-button.c1196d6.png)
        no-repeat;
    background-size: 80px;
    display: inline-block;
    height: 80px;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    width: 80px;
}
