.wrapper {
    width: 58%;
    margin: 20px 0;
    h3 {
        margin: 5rem 0 1rem;
    }
}

.link {
    color: var(--gray);
    .navlink {
        color: var(--gray);
        position: relative;
        + .icon {
            margin: 0 8px;
        }
        &::after {
            content: '';
            position: absolute;
            background: var(--gray);
            width: 0;
            height: 1px;
            bottom: 0;
            left: 0;
        }
        &:hover {
            &::after {
                width: 100%;
            }
        }
    }
}

.jobTitle {
    margin: 2rem 0;
    h2 {
        line-height: 40px;
    }
}

.sellerInfo1 {
    display: flex;
    align-items: center;
    gap: 2rem;
    .sellerAvatar {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
    }
    .sellerName {
        position: relative;
        color: var(--text-color);
        font-weight: 700;
        text-transform: capitalize;
        &::after {
            content: '';
            position: absolute;
            background: var(--text-color);
            width: 0;
            height: 1px;
            bottom: 0;
            left: 0;
        }
        &:hover {
            &::after {
                width: 100%;
            }
        }
    }
    .sellerLevel {
        color: var(--light-gray);
        font-weight: 300;
        font-size: 1.4rem;
    }
    .rating {
        position: relative;
        .rate {
            margin-left: 9px;
            color: #ffbe5b;
        }

        .soSao {
            color: #ffbe5b;
            padding: 0 10px;
        }
        .danhGia {
            color: var(--light-gray);
        }
        &::before {
            content: '';
            position: absolute;
            background: var(--light-gray);
            width: 1.5px;
            height: 100%;
            left: 0;
        }
        &::after {
            content: '';
            position: absolute;
            background: var(--light-gray);
            width: 1.5px;
            height: 100%;
            margin-left: 9px;
        }
    }
    .queue {
        color: var(--gray);
    }
}

.thumbnailImg {
    margin-top: 1rem;
    overflow: hidden;
    img {
        width: 100%;
        transition: all 0.5s ease-in-out;
        &:hover {
            transform: scale(1.1);
        }
    }
}

.aboutGig {
    position: relative;
    p {
        color: var(--gray);
        padding-bottom: 2rem;
    }
    &::after {
        content: '';
        position: absolute;
        background: var(--border-color);
        width: 100%;
        height: 1px;
        left: 0;
    }
}

.aboutSeller {
    .content {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    .sellerAvatar {
        width: 110px;
        height: 110px;
        object-fit: cover;
        border-radius: 50%;
    }
    .sellerName {
        position: relative;
        color: var(--gray);
        font-weight: 700;
        font-size: 1.8rem;
        text-transform: capitalize;
        margin-left: 10px;
        &::after {
            content: '';
            position: absolute;
            background: var(--gray);
            width: 0;
            height: 1px;
            bottom: 0;
            left: 0;
        }
        &:hover {
            &::after {
                width: 100%;
            }
        }
    }
    .sellerMajor {
        color: var(--gray);
        margin-bottom: 0.5rem;
        margin-left: 10px;
    }
    .rating {
        position: relative;
        .rate {
            margin-left: 9px;
            color: #ffbe5b;
        }

        .soSao {
            color: #ffbe5b;
            padding: 0 10px;
        }
        .danhGia {
            color: var(--light-gray);
        }
    }
    .contactBtn {
        margin: 10px 0 20px 10px;
    }
}
