.wrapper {
    width: 58%;
    font-weight: 500;
    margin: 10px 0;
}

.link {
    color: var(--gray);
    .navlink {
        color: var(--gray);

        + .icon {
            margin: 0 8px;
        }
    }
}
