.wrapper {
    box-shadow: 0 1px 1px var(--border-color);
}

.inner {
    width: 90%;
    padding-bottom: 10px;
    margin: 10px auto 2px;
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 1.2rem;
}

.jobCategory {
    min-width: 150px;
}

.jobItem {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray);
    font-weight: 400;
    transition: all 0.3s;
    &:hover {
        color: var(--primary);
    }
}
