.wrapper {
    margin-bottom: 1rem;
}

.modalWrapper {
    width: 530px;
    height: auto;
    padding: 10px 30px;
}

.modalHeading {
    color: var(--primary);
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

.jobSubCategoryImgWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.jobSubCategoryImgInner {
    position: relative;
}

.jobSubCategoryImg {
    width: 150px;
    object-fit: cover;
}

.cameraOverlay {
    position: absolute;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    &:hover {
        opacity: 1;
    }
    span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: var(--gray);
        font-size: 4rem;
    }
}

.uploadImage {
    display: none;
}

.formInputDropdown {
    margin: 30px 0;
    select {
        font-size: 1.6rem;
        border: 1px solid var(--border-color);
        border-radius: var(--input-border-radius);
        padding: 10px;
        color: var(--text-color);
        &:focus {
            outline: none;
            border-color: var(--primary);
        }
    }
    .dropdownWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        .labelText {
            margin-right: 20px;
            font-weight: 700;
            font-size: 1.8rem;
        }
        .addIcon {
            color: var(--primary);
            background-color: transparent;
            &:hover {
                color: var(--primary-hover);
            }
        }
    }
}

.danhSachChiTiet {
    .item {
        cursor: default;
        margin-right: 5px;
        &:hover {
            color: var(--gray);
        }
    }
    .removeBtn {
        margin-left: 5px;
        color: var(--gray);
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
            color: var(--red);
        }
    }
}

.btn {
    display: flex;
    justify-content: end;
    margin-top: 30px;
}
