.wrapper {
    width: 90%;
    margin: 100px auto;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.item {
    margin-bottom: 15px;
    padding: 10px;
    width: 25%;
    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
    }
    h4 {
        color: var(--text-color);
        font-size: 2rem;
        font-weight: 600;
        margin: 20px 0;
    }
}

.chiTietLoaiBtn {
    display: block;
    color: var(--gray);
    font-size: 1.8rem;
    font-weight: 500;
    border-radius: 7px;
    margin-left: -10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
    transition: all 0.3s;
    &:hover {
        color: var(--primary);
        background-color: var(--background-gray);
    }
}
