.wrapper {
    width: 300px;
    border: 1.5px solid var(--border-color);
}

.cardTop {
    img {
        width: 100%;
    }
}

.cardBody {
    padding: 15px;
}

.sellerInfo {
    display: flex;
}

.sellerAvatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.sellerName {
    position: relative;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: capitalize;
    &::after {
        content: '';
        position: absolute;
        background: var(--text-color);
        width: 0;
        height: 1px;
        bottom: 0;
        left: 0;
    }
    &:hover {
        &::after {
            width: 100%;
        }
    }
}

.sellerLevel {
    color: var(--light-gray);
    font-weight: 300;
    font-size: 1.3rem;
}

.jobInfo {
    padding-top: 20px;
    height: 120px;
    a {
        color: var(--text-color);
        font-weight: 500;
        transition: all 0.3s;
        &:hover {
            color: var(--primary);
        }
    }
}

.rating {
    padding-top: 5px;
    .starIcon {
        color: #ffbe5b;
    }

    .soSao {
        color: #ffbe5b;

        padding-left: 5px;
    }
    .danhGia {
        color: var(--light-gray);
        padding-left: 5px;
    }
}

.cardBottom {
    border-top: 1.5px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}

.heartIcon {
    font-size: 2rem;
    &:hover {
        color: red;
    }
}

.price {
    color: var(--gray);
    font-size: 1.2rem;
    line-height: 30px;
    letter-spacing: 0.5px;
    span {
        color: var(--text-color);
        font-size: 2rem;
        font-weight: 600;
    }
}
