.formInput {
    margin-bottom: 15px;
}

.inputField {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .labelIcon {
        font-size: 2.4rem;
        margin-right: 20px;
    }
    .labelText {
        min-width: 120px;
        font-size: 1.8rem;
        font-weight: 700;
    }
    input {
        padding: 10px;
        flex: 1;
        color: var(--text-color);
        font-size: 1.6rem;
        border: 1px solid var(--border-color);
        border-radius: var(--input-border-radius);
        &:focus-within {
            border-color: var(--primary);
        }
    }
    .eyeIcon {
        position: absolute;
        right: 20px;
        color: var(--gray);
    }
}

.errorMessage {
    margin-top: 5px;
    color: var(--red);
    font-size: 1.2rem;
}

.errorMessageForLabelIcon {
    margin-left: 45px;
}

.errorMessageForLabelText {
    margin-left: 120px;
}
