.search {
    position: relative;
    width: 420px;
    height: 46px;
    display: flex;
    border: 1px solid var(--border-color);
    border-radius: var(--input-border-radius);
    input {
        flex: 1;
        font-size: 1.6rem;
        padding: 0 45px 0 16px;
        border-top-left-radius: var(--input-border-radius);
        border-bottom-left-radius: var(--input-border-radius);
    }
    &:focus-within {
        border-color: var(--primary);
    }
}

.clear,
.loading {
    position: absolute;
    right: 70px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    color: var(--light-gray);
    background-color: transparent;
}

.loading {
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.searchBtn {
    width: 52px;
    border-top-right-radius: var(--input-border-radius);
    border-bottom-right-radius: var(--input-border-radius);
    background-color: var(--primary);
    color: var(--white);
    font-size: 2rem;
    transition: all 0.3s;
    &:hover {
        cursor: pointer;
        background-color: var(--primary-hover);
    }
}
