.search {
    width: 420px;
    height: 46px;
    padding-left: 16px;
    display: flex;
    border: 1px solid var(--border-color);
    border-radius: var(--input-border-radius);
    input {
        flex: 1;
        font-size: 1.6rem;
        border-top-left-radius: var(--input-border-radius);
        border-bottom-left-radius: var(--input-border-radius);
    }
    &:focus-within {
        border-color: var(--primary);
    }
}

.searchBtn {
    width: 52px;
    border-top-right-radius: var(--input-border-radius);
    border-bottom-right-radius: var(--input-border-radius);
    background-color: var(--primary);
    color: var(--white);
    font-size: 2rem;
    transition: all 0.3s;
    &:hover {
        cursor: pointer;
        background-color: var(--primary-hover);
    }
}
