.wrapper {
    width: 90%;
    margin: 100px auto;
}

.items {
    margin: 50px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 5rem;
    img {
        display: block;
        height: 44px;
        margin: 0 auto 15px;
        width: 44px;
    }
    a {
        position: relative;
        display: inline-block;
        color: var(--text-color);
        font-size: 1.4rem;
        font-weight: 400;
        text-align: center;
        &::after {
            content: '';
            position: absolute;
            border-bottom: 2px solid var(--border-color);
            padding: 0 0 5px;
            right: 50%;
            top: 45px;
            transform: translateX(50%);
            width: 48px;
            transition: all 0.3s ease-in-out;
        }
        &:hover {
            &::after {
                border-color: var(--primary);
                width: 60px;
            }
        }
    }
}
