.wrapper {
    padding: 15px 20px;
}

.tenNhom {
    font-weight: 500;
}

.chiTietLoai > a {
    display: block;
    padding-top: 8px;
    color: var(--gray);
    font-weight: 400;
    transition: all 0.3s;
    &:hover {
        color: var(--primary);
    }
}
