.wrapper {
    width: 90%;
    margin: 0 auto;
}

.inner {
    display: flex;
    justify-content: space-between;
}

.item {
    padding-bottom: 40px;
    .title {
        font-weight: 700;
        padding-bottom: 3rem;
    }
    li {
        padding-bottom: 2rem;
    }
    a {
        position: relative;
        color: var(--gray);
        font-size: 1.4rem;
        font-weight: 400;
        &::after {
            content: '';
            position: absolute;
            background: var(--gray);
            width: 0;
            height: 1px;
            bottom: 0;
            left: 0;
        }
        &:hover {
            &::after {
                width: 100%;
            }
        }
    }
    p {
        color: var(--light-gray);
        font-weight: 300;
        font-size: 1.3rem;
    }
}
