.wrapper {
    display: inline-block;
    margin-right: 1rem;
}

.editProfileText {
    color: var(--primary);
    font-weight: 700;
    text-align: center;
}

.modalWrapper {
    width: 500px;
    height: auto;
    padding: 10px 30px;
}

.userAvatarWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    .userAvatar {
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 50%;
    }
}

.radioWrapper {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    .radioLabel {
        font-size: 1.8rem;
        margin-right: 50px;
    }
    .labelIcon {
        font-size: 2.4rem;
    }
    .radio {
        flex: 1;
        display: flex;
        justify-content: space-evenly;
    }
}

.radioWrapper .radio input[type='radio'] {
    opacity: 0;
    position: absolute;
}

.radioWrapper .radio input[type='radio'] + .radioLabel:before {
    position: relative;
    content: '';
    cursor: pointer;
    background: var(--white);
    border: 1px solid var(--light-gray);
    border-radius: 100%;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    top: 3.5px;
    transition: all 0.3s ease;
}

.radioWrapper .radio.genderRadio input[type='radio'] + .radioLabel:before {
    cursor: default;
}

.radioWrapper .radio input[type='radio']:checked + .radioLabel:before {
    background-color: var(--primary);
    box-shadow: inset 0 0 0 4px var(--white);
}

.radioWrapper
    .radio.genderRadio
    input[type='radio']:checked
    + .radioLabel:before {
    background-color: var(--light-gray);
}

.certification,
.skill {
    margin-bottom: 10px;
    .labelIcon {
        font-size: 2.4rem;
        margin-right: 20px;
    }
    .item {
        cursor: default;
        margin-right: 5px;
        &:hover {
            color: var(--gray);
        }
        + .item {
            margin-left: 0;
        }
    }
}

.btn {
    display: flex;
    justify-content: end;
    margin-top: 30px;
}
