.wrapper {
    width: 900px;
    height: auto;
}

.left {
    img {
        width: 100%;
        padding: 30px;
    }
}

.right {
    padding: 30px;
}

.signInText {
    color: var(--primary);
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

.inputField {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    label {
        font-size: 2.4rem;
        margin-right: 20px;
    }
    input {
        padding: 10px;
        flex: 1;
        color: var(--black);
        font-size: 1.6rem;
        border: 1px solid var(--border-color);
        border-radius: var(--input-border-radius);
        &:focus-within {
            border-color: var(--primary);
        }
    }
}

.btn {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    .isMember {
        color: var(--gray);
        font-weight: 400;
        padding-right: 5px;
    }
}
