.wrapper {
    width: 900px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.left {
    img {
        width: 100%;
        padding: 30px;
    }
}

.right {
    padding: 30px;
}

.signInText {
    color: var(--primary);
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

.btn {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    .isMember {
        color: var(--gray);
        font-weight: 400;
        padding-right: 5px;
    }
}
