.wrapper {
    position: fixed;
    width: 100%;
    height: var(--header-top-height);
    display: flex;
    justify-content: center;
}

.inner {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signIn {
    color: var(--white);
    background-color: transparent;
}

.userAvatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 20px;
    cursor: pointer;
}

.userAction {
    display: block;
    color: var(--gray);
    font-size: 1.6rem;
    font-weight: 700;
    padding: 5px 20px;
    transition: all 0.3s;
    &:hover {
        color: var(--primary);
    }
}
